@import "variables"
@import "animations"

.blog
  > h1
    font-size: 3rem
    margin-top: 0

  &__posts
    list-style-type: none
    padding: 0
    margin: 0
    > li
      margin-bottom: 3rem

  &__post
    @include hover-color("h2, span", "&:hover h2, &:hover span")
    > a
      text-decoration: none

  &__post-title
    font-size: 1.8rem
    margin-bottom: 0
    padding-bottom: 0.5rem

  &__post-meta
    @extend %heading-font
    margin: 0

.pagination
  text-align: center
  &--hidden
    visibility: hidden

.post
  &__title
    font-size: 3.0rem

  &__meta-strip
    @extend %heading-font

  &__footer
    text-align: center
    > hr
      margin-top: 2rem
      margin-bottom: 1rem

    > span
      padding-bottom: 3rem
