@import "variables"
@import "animations"

// TODO Refactor .blog with some better naming?
.blog
  &__header
    a
      text-decoration: none
    h1
      @extend %display-font
      font-size: 5rem
      text-align: right
      margin: 0

  &__content
    > h1
      font-size: 3rem
      margin-top: 0

  &__entries
    list-style-type: none
    padding: 0
    margin: 0

    > li
      margin-bottom: 3rem
    a
      text-decoration: none // TODO Should remove the global text-decoration for anchors

  &__entry
    @include hover-color("h2, span", "&:hover h2, &:hover span")

  &__entry-heading
    font-size: 1.8rem
    margin-bottom: 0
    padding-bottom: 0.5rem

  &__entry-sub
    @extend %heading-font
    font-size: 0.8rem
    margin: 0

  &__excerpt
    margin-top: 0
    padding-top: 0.8rem

.pagination
  text-align: center
  &--hidden
    visibility: hidden