// TODO Apparently should use @use instead of @import.
// https://css-tricks.com/introducing-sass-modules/
// This will affect imports in artwork.sass as well, as this animations import
// seem to "cascade" into that file as well.
@import "animations"
//@use "container"

@font-face
  font-family: "RedHook"
  src: url("../fonts/red_hook/Red\ Hook.otf") format("opentype")

@mixin display-font
  font-family: "RedHook", sans-serif
  font-weight: normal

@mixin heading-font
  font-family: 'Lato', sans-serif
  font-weight: bold

@mixin text-font
  font-family: 'Lora', serif
  font-weight: normal

@mixin code-font
  font-family: 'JetBrains Mono', monospace
  font-weight: normal

/*
 * Variables
 */
$blackish: #1a222c
$whiteish: #ebebeb
$spgreen: #1ED760

$lg_screen: 768px


/*
 * Page-wide defaults
 */
html
  font-size: 8px
  @media only screen and (min-width: $lg_screen)
    &
      font-size: 17px

body
  background-color: $blackish

h1, h2, h3, h4, h5, h6
  @include heading-font
  color: $whiteish

p
  @include text-font
  color: $whiteish
  font-size: 0.9rem

a
  color: $whiteish
  text-decoration-style: dashed
  @include hover-color
